TestClient/Service References/RobotServiceReference/RobotService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RobotService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RobotService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3178/RobotService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ArrayOfInversionFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InversionFile" nillable="true" type="tns:InversionFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInversionFile" nillable="true" type="tns:ArrayOfInversionFile" />
  <xs:complexType name="InversionFile">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="FileData" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InversionFile" nillable="true" type="tns:InversionFile" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>