TestClient/Service References/RobotServiceReference/RobotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RobotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3178/RobotService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3178/RobotService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:3178/RobotService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="GuidMessage">
    <wsdl:part name="parameters" element="tns:GuidMessage" />
  </wsdl:message>
  <wsdl:message name="IRobotService_StartInversion_InputMessage">
    <wsdl:part name="parameters" element="tns:StartInversion" />
  </wsdl:message>
  <wsdl:message name="IRobotService_StartInversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartInversionResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotService_StopInversion_InputMessage">
    <wsdl:part name="parameters" element="tns:StopInversion" />
  </wsdl:message>
  <wsdl:message name="IRobotService_StopInversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopInversionResponse" />
  </wsdl:message>
  <wsdl:message name="IRobotService_QueryInversion_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryInversion" />
  </wsdl:message>
  <wsdl:message name="IRobotService_QueryInversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryInversionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage">
    <wsdl:part name="parameters" element="tns:FileDownloadMessage" />
  </wsdl:message>
  <wsdl:message name="FileDownloadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="IRobotService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRobotService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IRobotService">
    <wsdl:operation name="InitInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/InitInversion" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/InitInversionResponse" name="GuidMessage" message="tns:GuidMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/StartInversion" message="tns:IRobotService_StartInversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/StartInversionResponse" message="tns:IRobotService_StartInversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/StopInversion" message="tns:IRobotService_StopInversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/StopInversionResponse" message="tns:IRobotService_StopInversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/QueryInversion" message="tns:IRobotService_QueryInversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/QueryInversionResponse" message="tns:IRobotService_QueryInversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveInversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/RetrieveInversion" name="RetrieveMessage" message="tns:RetrieveMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/RetrieveInversionResponse" name="FileDownloadMessage" message="tns:FileDownloadMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRobotService/GetData" message="tns:IRobotService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRobotService/GetDataResponse" message="tns:IRobotService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRobotService" type="tns:IRobotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitInversion">
      <soap:operation soapAction="http://tempuri.org/IRobotService/InitInversion" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GuidMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartInversion">
      <soap:operation soapAction="http://tempuri.org/IRobotService/StartInversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopInversion">
      <soap:operation soapAction="http://tempuri.org/IRobotService/StopInversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryInversion">
      <soap:operation soapAction="http://tempuri.org/IRobotService/QueryInversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveInversion">
      <soap:operation soapAction="http://tempuri.org/IRobotService/RetrieveInversion" style="document" />
      <wsdl:input name="RetrieveMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FileDownloadMessage">
        <soap:header message="tns:FileDownloadMessage_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRobotService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RobotService">
    <wsdl:port name="BasicHttpBinding_IRobotService" binding="tns:BasicHttpBinding_IRobotService">
      <soap:address location="http://localhost:3178/RobotService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>